#home-img {
    width: 683px;
    height: 384px; 
}
body{
    background-color: rgba(0, 0, 0, 0.932);
    margin: 1px;
    
}
#main-header {
    color: white;
    text-align: center;
    font-family: 'Notable', sans-serif;
    font-size: 3em;
    padding-bottom: 0px;
    border: 0px;
    margin: 0px;
}
#summary {
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 1.5em;
    margin: 20px;
    }
.home-div {
    display: flex;
    padding-bottom: 40px;
    padding-top: 50px;

}
