#main-header {
    color: white;
    text-align: center;
    font-family: 'Notable', sans-serif;
    font-size: 3em;
    padding-bottom: 0px;
    border: 0px;
    margin: 0px;
}

.nav {
    color: white;
    text-align: center;
    font-size: 30px;


nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

#summary {
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 1.5em;
    margin: 20px; 
}

.home-div {
    display: flex;
    padding-bottom: 40px;
    padding-top: 30px;