.nav-list {
    text-align: center;
}
.nav {
    color: white;
    font-size: 25px;
    padding: 15px;
    font-family: 'Notable', sans-serif;
    border: 0px;
    margin: 0px;
    width: 100%; 
}
li {
    display: inline; 
    border: 0px;
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;
}