body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 0px 10px; */
}

/* header {
    margin-bottom: 30px;
} */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.tour_title {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 28px;
    /* font-family: 'PT Sans', sans-serif; */
}

/* h3 {
    color: white;
} */

/* h4 {
    color: white;
} */

/* p {
    color: white;
} */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article__news {
    background-color: rgb(34, 33, 33);
    flex-basis: 80%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 600px; 
    padding-bottom: 20px;  
    opacity: 0.8; 
}

.article__tour {
    background-color: rgb(34, 33, 33);
    flex-basis: 80%;
    padding-left: 10px;
    padding-right: 10px;
    width: 600px;
    opacity: 0.8; 
}

.article__specials {
    background-color: rgb(34, 33, 33);
    flex-basis: 80%;
    padding-left: 10px;
    padding-right: 10px;
    width: 600px;
    opacity: 0.8; 
    margin-top: 15px;
}

.page_name {
    /* font-family: 'Notable', sans-serif; */
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 33px;
    margin-top: 35px;
    text-shadow: 2px 2px black;
}

.eventname {
    margin-bottom: 5px;
    color: rgb(190, 206, 221);
}

.tourdates {
    list-style: none;
    padding-left: 10px;
    color: white;
}

.special_links {
    margin-bottom: 5px;
    color: rgb(190, 206, 221);
    padding-left: 10px;
}

.place_city {
    margin-bottom: 3px;
    margin-top: 5px;
    color: white;
}

.event_dates {
    margin-bottom: 3px;
    margin-top: 5px;
    color: white;
}

.headline {
    margin-top: 8px;
    margin-bottom: 3px;
    color: rgb(190, 206, 221);
}

.news_body {
    margin-top: 7px;
    margin-bottom: 3px;
    color: white;
}

/* a:link {
    color: #darkgray;

} */

a {
    color: white;
    cursor: hand;
    font-weight: bold;
  }

/* a:visited {
color: darkgray;
}

a:focus {
border-bottom: 1px solid;
background: black;
}

a:hover {
border-bottom: 1px solid;     
cursor: pointer;
}

a:active {
background: rgb(19, 19, 19);
color: darkgray;
} */

hr {
    border-top: .5px solid rgb(190, 206, 221);
    width: 300px;
}
.buy_tix {
    margin-top: 5px;
}

.ticket_symbol {
    float: left;
    margin-right: 2px;
}