body {
    background-color: black;
    margin: 1px;
}

.personal_life {
    background-color: goldenrod;
    color: rgba(47, 47, 48, 0.863);
    font-family: "Notable", sans-serif;
    font-size: 50px;
    text-align: center;    
}

.dave_bio {
    color: goldenrod;
    font-size: 50px;
    text-align: left;
    padding-left: 40px;
    background-color: rgba(47, 47, 48, 0.863);
    font-family: "Notable", sans-serif;
}

.biggums {
    color: goldenrod; 
    font-size: 50px;
    text-align: left;
    padding-left: 40px;
    background-color: rgba(47, 47, 48, 0.863);
    font-family: "Notable", sans-serif;
}

.family {
    color: goldenrod;
    font-size: 50px;
    text-align: left;
    padding-left: 40px;
    background-color: rgba(47, 47, 48, 0.863);
    font-family: "Notable", sans-serif;
}

.dave_img {
    float: left;
    margin: 0 20px 20px 0;
}

.dave_img2 {
    float: left;
    margin: 0 20px 20px 0; 
}

.dave_img3 {
    float: left;
    margin: 0 20px 20px 0;
}

p {
    color: whitesmoke;
    padding-right: 150px;
    font-family: "Hind", sans-serif;
    padding-bottom: 10px;
}